<ion-view view-title="乘客列表">
  <ion-content class="page_basic_background">
    <a href="#/passengerAdd">
      <ion-item  class="text_align_center">
        <span ><em class="ion-plus-circled green_color"></em>&nbsp;&nbsp;添加乘客</span>
      </ion-item>
    </a>
    <ion-list>
      <ion-item item="item" href="" ng-repeat="n in form.passenger.USER" ng-if="form.passenger.ERROR_CODE == 0 "
      ng-click="choosePas(n,n.CID)">
        <div><em>{{n.CNAME}}</em>&nbsp;&nbsp;<em class="color_898989">{{n.MOBILENO}}</em></div>
        <div class="m_t_3 color_gray f_s_80b">{{n.PIDTYPE}}&nbsp;{{n.PID}}</div>
        <span class="badge">
          <i class="ion-checkmark-round icon_check_left color_default" ng-if="n.CHECKED === 'true'"></i>
        </span>
        <ion-option-button class="button-assertive" ng-click="pasDel(n,n.CID)">删除</ion-option-button>
        <ion-option-button class="button-calm" ng-click="pasEit(n)">修改</ion-option-button>
      </ion-item>
      <div class="text-center f_s_140b padding" ng-if="!form.passenger.USER">无乘客信息</div>
    </ion-list>
    <!-- <pre ng-bind="form.passenger.USER | json"></pre> -->
  </ion-content>
</ion-view>