<ion-view view-title="车票信息">
  <div class="bar bar-subheader padding_none text-center">
    <div class="row m_t_3 f_s_160b">
      <a class="item col col col-25 por border_none" ng-click="get_date(-1)">
        <img ng-src="{{'left-arrow' | icon_url}}" class='custom_pos_left_img'>
        前一天
      </a>
      <div class="col col col-50">{{form.date | date:'yyyy-MM-dd'}}</div>
      <a class="item col col col-25 por border_none" ng-click="get_date(1)">
        <img ng-src="{{'right-arrow' | icon_url}}" class='custom_pos_right_img'>
        后一天
      </a>
    </div>
  </div>
  <ion-content class="has-subheader"  delegate-handle="mainScroll">
   <ion-list>
    <ion-item class="p_l_r_10" ng-repeat="n in form.ticketInfo.DATA"
    ng-if="n.RESERVE == 'Y'" ng-click="order(n, form.ticketInfo.PARAMETER)">
      <div class="row padding_none">
        <div class="col col-25 padding_none">
          <span class='displayB color_6a84cf f_s_120b'>{{n.TRAIN_NO}}</span>
          <span class='displayB color__999 f_s_80b'>({{n.TRAIN_NO | trainType}})</span>
        </div>
        <div class="col col-50 padding_none">
          <span class='startTime displayB color_333'>
            <i class='color_fff text_center line_15px'>始</i>&nbsp;&nbsp;
            <em>{{n.GO_TIME}}</em>
            <em>{{n.DEP_STATION}}</em>
           </span>
          <span class='endTime  padding-top5 displayB color_696969'>
            <i class='color_fff text_center line_15px'>终</i>&nbsp;&nbsp;
            <em>{{n.TO_TIME}}</em>
            <em>{{n.ARR_STATION}}</em>
          </span>
        </div>
        <div class="col col-25 padding_none">
          <span class='color__999'>
              {{n.FULL_TIME | min2hour}}
          </span>
        </div>
      </div>
      <div class="padding_none padding-top5 f_s_80b">
        <div class="list_item_25 color__999" ng-repeat="s in n.SEAT" ng-if="s.PRICE > 0 ">
          <div ng-if="which_tab == 'yupiao'">
            {{s.NAME}}
            <span class='color-afda70' ng-if="s.REMAIN > 0 ">{{s.REMAIN | ticketCount}}</span>
            <span class='color__999' ng-if="s.REMAIN == 0 ">无</span>
          </div>
          <div ng-if="which_tab == 'piaojia'">
            {{s.NAME}}
            <span ng-class="{color__999:s.REMAIN == 0,color_ff4800:s.REMAIN > 0 }">{{s.PRICE}}￥</span>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      </ion-item>
      <div class="text-center f_s_140b padding color_gray" ng-if="!form.ticketInfo.DATA">
        <div>暂无相关车票信息</div>
        <div class="f_s_80b">（或查询异常）</div>
      </div>
    </ion-list>
    <div class="p_b_20b"></div>
  </ion-content>
  <div class="bar bar-footer height_50">
    <div class="row border-radius-5 border-color-51b0d6 padding_none l_h_38 f_s_160b color_default" ng-init="which_tab ='yupiao' ">
      <div class="col col-50 text-center padding_none" ng-class="{tab_active:which_tab == 'yupiao'}" ng-click="which_tab = 'yupiao' ">
        余票
      </div>
      <div class="col col-50 text-center padding_none" ng-class="{tab_active:which_tab == 'piaojia'}" ng-click="which_tab = 'piaojia' ">
        票价
      </div>
    </div>
  </div>
</ion-view>